@import "../mixins.scss";
@import "../variables.scss";

.specific-animal{
    padding: 10px;
    .one-animal-container{
       
        .heading{
            @include flexStandartSpaceBetween;
            h1{
                @include heading;
            }
            a{
                border-radius: $cirkle-radius;
                width: 60px;
                height: 60px;
                @include flexStandart;
                transition: all 0.15s linear;
                img{
                    width:40px;
                    height: 40px;
    
                   
                    
                }
                &:hover{
                    background-color: $orange-icon;
                }
            }
        }

        .about-animal-container{
            display: grid;
            grid-template-columns: 3fr 2fr;

            @media (max-width:900px) {
                grid-template-columns: 1fr ;
                
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .about-descritpion{
                padding: 10px;
                padding-left: 20px;
                background-color: $second-background;
                article{
                    font-size: $middle-font;
                    font-weight: 900;
                    padding-bottom: 10px;
                }
                p{
                    padding-left: 10px;
                    text-align: justify;
                    font-size: $mini-font;
                }
                ul{
                    p{
                        font-weight: 500;
                        margin-top: 15px;
                        // text-decoration: underline;
                    }
                    li{
                        list-style: disc;
                        text-decoration: none !important;
                        margin-left: 30px;
                        font-size: $mini-font;
                    }
                }
            }
        }

        // spodní popis
        h2{
            text-align: center;
            padding: 0px;
            @include heading;
            font-size: $middle-font;
        }
        .long-description{
            background-color: $second-background;
            padding: 0 20px;
            padding-bottom: 20px;
            h3{
                font-size: $standart-font;
                font-weight: 900;
                padding-top: 20px;
            }
            p{
                padding-left: 10px;
                text-align: justify;
            }
        }
        .media-animal{
            max-width: 350px;
            margin: 30px auto;
        }
    }
}