@import "../mixins.scss";
@import "../variables.scss";

.admin-page {
  .add-actuality {
    padding: 20px;
    .add-actuality-container {
      @include flexColumn;

      h2 {
        margin: 30px;
      }
      form {
        width: 800px;
        div {
          width: 100%;
          input {
            width: 50%;
            padding: 10px;
            outline: none;
          }
        }

        input {
          width: 100%;
          padding: 10px;
          outline: none;
        }

        button {
          padding: 10px;
        }
      }
    }
  }
}
