@import "../mixins.scss";
@import "../variables.scss";

/*************************
******Desktop
************************/
.desktop-navbar {
  .up-navbar {
    overflow: hidden;
    @include flexStandartSpaceBetween;
    padding-left: 30px;
    padding-right: 30px;
    height: 130px;
    z-index: 100;
    .logo {
      @include flexStandart;
      img {
        height: 80px;
        @media screen and (max-width: 800px) {
          height: 60px;
        }
        @media screen and (max-width: 500px) {
          height: 40px;
        }
      }
      h1 {
        padding-left: 20px;
        font-size: $big-font;
        @media screen and (max-width: 800px) {
          font-size: $middle-font;
        }
        span {
          font-weight: 900;
          font-size: $big-font;
          display: flex;
          @media screen and (max-width: 800px) {
            font-size: $middle-font;
          }
          .favorite-numer {
          }
        }
      }
    }
    .hamburger-hide {
      img {
        width: 35px;
        padding: 5px;
        cursor: pointer;
        display: none;
        @media only screen and (max-width: 800px) {
          display: none;
        }
      }
    }
    .hamburger-show {
      img {
        width: 35px;
        padding: 5px;
        cursor: pointer;
        display: none;
        @media only screen and (max-width: 800px) {
          display: none;
        }
      }
    }

    .logo-description {
      @include flexStandartSpaceBetween;
    }
    .tickets {
      a {
        background-color: $orange-icon;
        font-weight: 900;
        font-size: $middle-font;
        padding: 15px;
        text-transform: uppercase;
        transition: 0.15s;
        border-radius: $mini-radius;
        margin-left: 30px;

        @media only screen and (max-width: 800px) {
          padding: 10px;
          font-size: $standart-font;
        }

        &:hover {
          background-color: $green-icon;
        }
      }
    }
  }
  .down-navbar {
    background-color: $white-brown;
    nav {
      padding-left: 20px;
      padding-right: 20px;
      @include flexStandart;
      @media only screen and (max-width: 800px) {
        justify-content: space-between;
      }

      p {
        display: none;
        font-weight: 700;

        @media only screen and (max-width: 800px) {
          display: block;
        }
      }
      ul {
        @include flexStandartSpaceBetween;
        justify-content: left;
        @media only screen and (max-width: 800px) {
          display: none;
        }

        .big-link {
          position: relative;
          padding: 15px;
          cursor: pointer;
          &:hover > ul {
            display: block;
          }
          a {
            font-weight: 900;
            &:hover {
              color: $orange-icon;
            }
          }
          ul {
            @include flexColumn;
            position: absolute;
            border-radius: $mini-radius;
            top: 100%;
            z-index: 2;
            display: none;
            background-color: $dark-brown;

            li {
              min-width: 180px;
              padding: 15px;

              a {
                color: $white-brown;
                font-weight: 300;
                padding-left: 5px;
              }
            }
          }
        }
      }
      .hamburger-hide {
        img {
          width: 35px;
          padding: 5px;
          cursor: pointer;
          display: none;
          @media only screen and (max-width: 800px) {
            display: block;
          }
        }
      }
      .hamburger-show {
        img {
          width: 35px;
          padding: 5px;
          cursor: pointer;
          display: none;
          @media only screen and (max-width: 800px) {
            display: block;
          }
        }
      }
    }
  }
}

/*************************
******Mobile
************************/

.mobile-navbar {
  background-color: $dark-brown;
  min-height: 100vh;
  padding: 20px;

  .up-navbar {
    overflow: hidden;
    @include flexStandartSpaceBetween;
    padding: 20px;
    align-items: flex-start;

    .logo {
      @include flexStandart;
      padding-bottom: 30px;
      img {
        height: 80px;
        @media screen and (max-width: 800px) {
          height: 60px;
        }
      }
      h1 {
        font-size: $middle-font;
        color: $white-brown;
        padding-left: 15px;

        span {
          font-size: $middle-font;
          color: $white-brown;
        }
      }
    }
    .logo-description {
      width: 100%;
      @include flexStandartSpaceBetween;
      .social-media {
        @include flexStandartSpaceBetween;

        div {
          @include flexStandart;
          min-height: 50px;
          min-width: 50px;
          margin: 5px;
          cursor: pointer;
          transition: 0.3s;
          img {
            height: 40px;
            padding: 5px;
          }
          &:hover {
            scale: 1.3;
          }
        }
      }
    }
    .tickets {
      a {
        background-color: $orange-icon;
        font-weight: 900;
        font-size: $middle-font;
        padding: 15px;
        text-transform: uppercase;
        transition: 0.15s;
        border-radius: $mini-radius;

        @media only screen and (max-width: 800px) {
          padding: 10px;
          font-size: $standart-font;
        }
        &:hover {
          background-color: $green-icon;
        }
      }
    }
  }
  .down-navbar {
    background-color: $white-brown;
    nav {
      padding: 20px;
      @include flexStandart;
      p {
        font-weight: 700;
      }

      ul {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        padding-top: 20px;

        .big-link {
            cursor: pointer;
          width: 50%;
          a {
            font-weight: 900;
            cursor: default;
          }
          ul {
            @include flexColumn;
            align-items: start;
            li {
              margin-left: 30px;
              width: 100%;
              list-style: circle;
              a {
                font-weight: 300;
                text-decoration: none;
                border-bottom: 0px solid black;
                cursor: pointer;

                &:hover {
                  color: $orange-icon;
                }
              }
            }
          }
        }
        .big-link {
          padding-top: 20px;
          a {
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}
// Kompletní hambuergerové nastavení pro všechny
.hamburger-show {
  width: 35px;
  cursor: pointer;
  display: block;
  margin-right: 15px;
  justify-content: start;
  img {
    margin: 5px;
    width: 35px;
  }
}
.hamburger-hide {
  width: 35px;
  cursor: pointer;
  display: none;
  img {
    padding: 5px;
    width: 35px;
  }
}
