@import "../mixins.scss";
@import "../variables.scss";

.open-close {
    margin-top: 30px;
    h1{
        @include heading;
    }
    p{
        text-align: center;
    }

    .container-time{
        margin: 70px 20px;


        .heading-time{
            display: grid;
            grid-template-columns:  1fr 1fr 1fr 1fr  1fr 1fr;
            background-color: $light-orange;

            

            p{
                text-align: left;
                text-transform: capitalize;
                font-size: 20px;
                color: $white-brown;
                padding: 10px;
            }

            @media  only screen and (max-width:600px){
                grid-template-columns: 1fr;
                height: 10px;
           
            }
        }
        .box-time{
            display: grid;
            grid-template-columns:  1fr 1fr  1fr 1fr 1fr 1fr;
         
            p{
                text-align: left;       
                padding: 10px;
           
           
                span{
                    text-transform: uppercase;
                    display: none;
                    
                }
            }
            &:nth-child(2n){
                background-color: $second-background;
            }
    
            @media  only screen and (max-width:600px){
                grid-template-columns: 1fr;
                p{
                    font-weight: 900;
                    span{
                        display: initial;
               
                    }
                }
            }
            
        }

    }



}