@import "../mixins.scss";
@import "../variables.scss";

.social-media {
  @include flexStandartSpaceBetween;
  justify-content: space-around;
  // margin-right: 60px;
  margin-bottom: 0;

  @media screen and (max-width: 800px) {
    display: none;
  }
  a {
    @include flexStandart;
    min-height: 50px;
    min-width: 50px;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s;
    img {
      height: 40px;
      padding: 5px;
    }
    &:hover {
      scale: 1.3;
    }
  }
}
