// Colors
$dark-brown: #2e221a;
$light-brown: #9e9185;
$white-brown: #F4F2EF;
$orange-icon: #F29021;
$text-brown:#3D332A;
$green-icon: #BDC900;
$middle-brown: #7f7368;
$all-background: #f7f7f7;

// Font Size
$standart-font: 18px;
$middle-font:25px;
$big-font:35px;

// Radisus
$mini-radius: 5px;
$middle-radius: 15px;
$big-radius: 30px;
$cirkle-radius: 50%;